.left-sidebar-container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.6fr 2.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo"
      "navigation"
      "projects-list"
      "settings";
  }
  
  .logo { grid-area: logo; }
  
  .projects-list { grid-area: projects-list; }
  
  .navigation { grid-area: navigation; }
  
  .settings { grid-area: settings; }

  