.viewer-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 0.15fr 1fr 0.2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header {
  grid-area: 1 / 1 / 2 / 3;
}
.chat {
  grid-area: 2 / 2 / 4 / 3;
}
.viewer {
  grid-area: 2 / 1 / 4 / 2;
}
