.viewer-container {
  display: grid;
  grid-template-columns: 0.9fr 0.7fr;
  grid-template-rows: 0.3fr 2.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header chat"
    "viewer chat";
}

.viewer {
  grid-area: viewer;
}

.chat {
  grid-area: chat;
}

.header {
  grid-area: header;
}
