.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 2.5fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header"
    "message-container message-container message-container"
    "user-input user-input user-input";
}

.user-input { grid-area: user-input; }

.header { grid-area: header; }

.message-container { grid-area: message-container; }
